In [ ]:
#Setup
import pandas as pd
import matplotlib as plt

happiness2015 = pd.read_csv("World_Happiness_2015.csv")

first_5 = happiness2015.head()
first_5.info()

In [ ]:
#Visualization refresher
mean_happiness
so_asia = happiness2015[happiness2015['Region'] == 'Southern Asia']
so_asia.plot(x='Country', y='Happiness Score', kind='barh', title='Southern Asia Happiness Scores', xlim=(0,10))

In [ ]:
#Aggregating with loops
mean_happiness = {}
#Taking only unique values from region series
arr = happiness2015['Region'].unique() 

#loop over unique values in Region column, assign rows which equal the current value to regioun group, 
#Series.mean() to calculate mean 'Happiness Score' from column, then insert key/val pair to dictionary
for reg in arr:
    region_group = happiness2015[happiness2015['Region'] == reg]
    region_mean = region_group['Happiness Score'].mean()
                               
    mean_happiness[reg] = region_mean

#Breaking down steps from above
#1-Split DF into groups, 2- Apply a function to each group, 3-Combine results into one data structure

In [ ]:
#Creating GroupBy Objects - df.groupby('col'), can replace col with lists as well

#Num of uniq values in each region for entire df
#happiness2015['Region'].value_counts()

grouped = happiness2015.groupby('Region')
aus_nz = grouped.get_group('Australia and New Zealand')

In [ ]:
#Exploring GroupBy objects, practice with groups attribute and get_group()
grouped.groups

north_america = happiness2015.iloc[[4,14]]

na_group = grouped.get_group('North America')

equal = north_america == na_group

In [ ]:
#Common groupby aggregation methods
#Pandas - Methods	Description 
'''
mean()	Calculates the mean of groups.
sum()	Calculates the sum of group values.
size()	Calculates the size of the groups.
count()	Calculates the count of values in groups.
min()	Calculates the minimum of group values.
max()	Calculates the maximum of group values.
'''
grouped = happiness2015.groupby('Region')
means = grouped.mean()
grouped.mean()

In [ ]:
#Aggregating Specific Columns
grouped = happiness2015.groupby('Region')
happy_grouped = grouped['Happiness Score']
happy_mean = happy_grouped.mean()

In [ ]:
#Using the agg() method, GroupBy.agg([Func1Name, Func2Name, Func3Name])
import numpy as np
grouped = happiness2015.groupby('Region')
happy_grouped = grouped['Happiness Score']

def dif(group):
    return (group.max() - group.mean())

happy_mean_max = happy_grouped.agg([np.mean, np.max])
mean_max_dif = happy_grouped.agg(dif)
happy_grouped.agg([np.mean, np.max]) #To show output

In [ ]:
#Multiple & custom aggregations with agg()
#e.g. 
happiness2015.groupby('Region')['Happiness Score'].agg(dif)
#Same as 
def dif(group):
    return(group.max() - group.mean())
happy_grouped.agg(dif)

In [ ]:
#Multiple & custom aggregations with agg() continued
#Values in Region Column --> INDEX of the series with VALUES --> Happiness Score aggregated 
happiness_means = happiness2015.groupby('Region')['Happiness Score'].mean()
print(happiness_means)

In [ ]:
#Same As above using Aggregation with Pivot Tables
happiness2015.pivot_table(values='Happiness Score', index='Region', aggfunc=np.mean)
#Returns a DF

In [ ]:
#Aggregation with Pivot Tables Plotting
pv_happiness = happiness2015.pivot_table(values='Happiness Score', index='Region', aggfunc=np.mean, margins=True)
pv_happiness.plot(kind='barh', xlim=(0,10), title='Mean Happiness Scores by Region', legend=False)
world_mean_happiness = happiness2015['Happiness Score'].mean()

In [45]:
#Aggregating Multiple Columns and Functions with Pivot Tables
#e.g. Aggregate both happiness score and family columns and group by region column
happiness2015.pivot_table(['Happiness Score', 'Family'], 'Region')
#Applying multiple functions with a list of funcs in aggfunc param
happiness2015.pivot_table('Happiness Score', 'Region', aggfunc=[np.mean, np.min , np.max], margins=True)

,mean,amin,amax
,Happiness Score,Happiness Score,Happiness Score
Region,,,
Australia and New Zealand,7.285000,7.284,7.286
Central and Eastern Europe,5.332931,4.218,6.505
Eastern Asia,5.626167,4.874,6.298
Latin America and Caribbean,6.144682,4.518,7.226
Middle East and Northern Africa,5.406900,3.006,7.278
North America,7.273000,7.119,7.427
Southeastern Asia,5.317444,3.819,6.798
Southern Asia,4.580857,3.575,5.253
Sub-Saharan Africa,4.202800,2.839,5.477
Western Europe,6.689619,4.857,7.587
All,5.375734,2.839,7.587

In [47]:
#comparing groupby to pivot tables
#Using GroupBy
grouped = happiness2015.groupby('Region')[['Happiness Score', 'Family']]
happy_family_stats = grouped.agg([np.min, np.max, np.mean])

#Using pivot tables
pv_happy_family_stats = happiness2015.pivot_table(['Happiness Score', 'Family'], 'Region', aggfunc=[np.min, np.max, np.mean], margins=True)