In [13]:
#Setup
import pandas as pd
happiness2015 = pd.read_csv('World_Happiness_2015.csv')

#mapping
mapping = {'Economy (GDP per Capita)': 'Economy', 'Health (Life Expectancy)': 'Health', 'Trust (Government Corruption)': 'Trust' }
happiness2015 = happiness2015.rename(mapping, axis=1)

In [14]:
#Function element-wise using map and apply methods
def label(element):
    if element > 1:
        return 'High'
    else:
        return 'Low'

economy_impact_map = happiness2015['Economy'].map(label)
economy_impact_apply = happiness2015['Economy'].apply(label)

equal = economy_impact_map.equals(economy_impact_apply)

In [ ]:
#Creating new colmn with map and apply
'''
def label(element):
    if element > 1:
        return 'High'
    else:
        return 'Low'
economy_impact_apply = happiness2015['Economy'].apply(label)
'''
#updated
def label(element, x):
    if element > x:
        return 'High'
    else:
        return 'Low'
economy_impact_apply = happiness2015['Economy'].apply(label, x=0.8)

In [18]:
#Apply function element-wise to mult colimns using applymap METHOD
#dataframe.appymap(function_name)
def label(element):
    if element > 1:
        return 'High'
    else:
        return 'Low'
economy_apply = happiness2015['Economy'].apply(label)
factors = ['Economy', 'Family', 'Health', 'Freedom', 'Trust', 'Generosity']
factors_impact = happiness2015[factors].applymap(label)
factors_impact

    Economy Family Health Freedom Trust Generosity
0      High   High    Low     Low   Low        Low
1      High   High    Low     Low   Low        Low
2      High   High    Low     Low   Low        Low
3      High   High    Low     Low   Low        Low
4      High   High    Low     Low   Low        Low
..      ...    ...    ...     ...   ...        ...
153     Low    Low    Low     Low   Low        Low
154     Low    Low    Low     Low   Low        Low
155     Low    Low    Low     Low   Low        Low
156     Low    Low    Low     Low   Low        Low
157     Low    Low    Low     Low   Low        Low

[158 rows x 6 columns]

In [17]:
#Apply functions along axis with apply method
#USE map or apply for SERIES, applymap for DATAFRAME
def v_counts(col):
    num = col.value_counts()
    den = col.size
    return num / den
v_counts_pct = factors_impact.apply(v_counts)
v_counts_pct

       Economy    Family    Health  Freedom  Trust  Generosity
High  0.417722  0.563291  0.012658      NaN    NaN         NaN
Low   0.582278  0.436709  0.987342      1.0    1.0         1.0

In [19]:
#Functions along axis wth apply method
factors = ['Economy', 'Family', 'Health', 'Freedom', 'Trust', 'Generosity', 'Dystopia Residual']

def percentages(col):
    div = col / happiness2015['Happiness Score']
    return div*100

#percent of happiness score each value contributes
factor_percentages = happiness2015[factors].apply(percentages)

In [21]:
#Reshaping data with melt()
#pd.melt(df, id_vars=[col1,col2], value_vars=[col3, col4])
main_cols = ['Country', 'Region', 'Happiness Rank', 'Happiness Score']
factors = ['Economy', 'Family', 'Health', 'Freedom', 'Trust', 'Generosity', 'Dystopia Residual']
#reshape df with main_cols staying the same, value_vars being turned into rows
melt = pd.melt(happiness2015, id_vars=main_cols, value_vars=factors)

#add new col to melt with pct being the result of value col divided by happiness col *100, rounded to 2 decimal places
melt['Percentage'] = round(melt['value'] / melt['Happiness Score'] * 100, 2)
melt

,Country,Region,Happiness Rank,Happiness Score,variable,value,Percentage
0,Switzerland,Western Europe,1,7.587,Economy,1.39651,18.41
1,Iceland,Western Europe,2,7.561,Economy,1.30232,17.22
2,Denmark,Western Europe,3,7.527,Economy,1.32548,17.61
3,Norway,Western Europe,4,7.522,Economy,1.45900,19.40
4,Canada,North America,5,7.427,Economy,1.32629,17.86
...,...,...,...,...,...,...,...
1101,Rwanda,Sub-Saharan Africa,154,3.465,Dystopia Residual,0.67042,19.35
1102,Benin,Sub-Saharan Africa,155,3.340,Dystopia Residual,1.63328,48.90
1103,Syria,Middle East and Northern Africa,156,3.006,Dystopia Residual,0.32858,10.93
1104,Burundi,Sub-Saharan Africa,157,2.905,Dystopia Residual,1.83302,63.10
1105,Togo,Sub-Saharan Africa,158,2.839,Dystopia Residual,1.56726,55.20

In [ ]:
#Aggregate data and create visualization
melt = pd.melt(happiness2015, id_vars = ['Country', 'Region', 'Happiness Rank', 'Happiness Score'], value_vars= ['Economy', 'Family', 'Health', 'Freedom', 'Trust', 'Generosity', 'Dystopia Residual'])
melt['Percentage'] = round(melt['value']/melt['Happiness Score'] * 100, 2)

pv_melt = melt.pivot_table(index = 'variable', values='value')
pv_melt.plot(kind='pie', y='value', legend=False)